@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora&display=swap");
.bgHeader {
  background-color: linear-gradient(60deg, #f6ac23, rgb(255, 249, 212));
}

.bg-bordeau {
  background-color: rgb(130, 18, 44);
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
}

nav {
  margin-top: 10px;
}
nav ul {
  list-style: none;
  margin: auto;
}
nav ul li {
  display: inline-block;
  margin-right: 40px;
}
nav ul li a {
  text-decoration: none;
}

header {
  background: #fff;
}

body {
  background-color: #fff;
}

.logo-iconosize {
  width: 250px;
}

.nav_principal, .mizonta, .nav_principal--text {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 200;
}

.nav_principal--text {
  color: rgb(255, 249, 212);
}
.nav_principal--text:hover {
  font-weight: 500;
  background-color: #f5BD47;
}

.mizonta {
  color: rgb(130, 18, 44);
  background-color: #f5BD47;
}
.mizonta:hover {
  font-weight: 500;
  background-color: #f6ac23;
  color: rgb(130, 18, 44);
}

.titulo_principal--l {
  font-size: 3.5rem;
  font-style: bold;
  font-family: "Lato", sans-serif;
  margin: 15px;
}

.titulo_intermedio--m {
  font-size: 2rem;
  font-style: normal;
  font-family: "Lato", sans-serif;
}

.titulo_section--m {
  font-size: 1.5rem;
  font-style: normal;
  font-family: "Lato", sans-serif;
}

.parrafos {
  font-size: 2rem;
  font-style: normal;
  font-family: "Lato", sans-serif;
  line-height: 35px;
}

.parrafos_nosotros {
  font-size: 1.3rem;
  font-style: normal;
  font-family: "Lato", sans-serif;
  line-height: 25px;
}

.titulos_forms {
  font-size: 2rem;
  font-style: normal;
  font-family: "Lato", sans-serif;
  color: #bf874e;
}

.titulo_section_pages {
  font-size: 2.5rem;
  font-style: normal;
  font-family: "Merriweather", serif;
}

.paginas p.parrafos {
  margin: 20px;
}

figcaption {
  color: #bf874e;
}

.div_involucrarse_contenedor {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #f5BD47;
}
.div_involucrarse_contenedor div {
  width: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  padding: 45px;
  justify-content: center;
}

.div_icono_h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 30px;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  animation: bg 5s infinite;
}

.contenedor {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header header header" "section section section" "main main aside" "main main aside" "footer footer footer";
}

.contenedor > div,
.contenedor .aside {
  background-color: lightgoldenrodyellow;
  border-radius: 4px;
  padding: 20px;
}

.contenedor .header {
  grid-area: header;
}

.contenedor .section {
  grid-area: section;
}

.contenedor .main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
}

.div_50 {
  width: 50%;
  padding: 5px;
}

.contenedor .aside {
  grid-area: aside;
}

.contenedor .footer {
  grid-area: footer;
}

.iconos, .icono_nosotros, .icono_programas, .icono_causas {
  margin-bottom: 10px;
}

.icono_causas {
  width: 30%;
}

.icono_programas {
  width: 25%;
}

.icono_nosotros {
  width: 50%;
}

.imagen_principal {
  display: flex;
  margin: 20px;
  width: 100%;
}

.btn_involucrarse {
  background-color: turquoise;
  border-radius: 5px;
  font-family: "Merriweather", serif;
  font-size: 1rem;
  margin-top: 20px;
}

/*--------- Propiedades de Formularios ---------*/
.div_forms {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

form {
  width: 400px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #f5BD47;
}

form label {
  width: 150px;
  font-weight: bold;
  display: inline-block;
}

form input[type=text],
form input[type=email],
form input[type=password] {
  width: 180px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

form input[type=submit] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #bf874e;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #bf874e;
}

form input[type=submit]:hover {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  /*resize: vertical | horizontal | none | both*/
  resize: none;
  display: block;
}

.carousel {
  display: flex;
  width: 80%;
  align-content: center;
  align-items: center;
  margin: auto;
}

.img_inv1 {
  animation: slide-in1 4000ms;
  cursor: pointer;
}

.img_inv2 {
  animation: slide-in2 3500ms;
  cursor: pointer;
}

.img_inv3 {
  animation: slide-in3 2000ms;
  cursor: pointer;
}

@keyframes slide-in1 {
  from {
    transform: translateX(-300%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slide-in2 {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes slide-in3 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes bg {
  from {
    background-color: #fff;
  }
  to {
    background-color: #ffffe0;
  }
}
@keyframes vibrate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(1deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
.img_novs:hover {
  /* Start the vibrate animation with duration 0.5 seconds */
  animation: vibrate 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

/* ----------- Media query 768px --------------*/
@media only screen and (max-width: 768px) {
  .div_involucrarse_contenedor {
    display: flex;
    flex-wrap: wrap;
  }
  iframe {
    width: 50%;
  }
}
/* ----------- Media query 1366px --------------*/
@media only screen and (max-width: 1366px) {
  .div_involucrarse_contenedor {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .div_involucrarse {
    width: 65%;
    height: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f5BD47;
    font-size: 1.2rem;
    font-family: "Merriweather", serif;
    padding: 45px;
    justify-content: center;
  }
}
.pie {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 20px;
}

.pie_icon--sm {
  width: 30px;
}

.pie_icon--m {
  width: 42px;
}

.pie_background {
  background-color: rgb(130, 18, 44);
}

/*# sourceMappingURL=main.css.map */
