.logo-iconosize{
	width:250px;
	}

.icono_programas{
	width: 25%;
	margin-bottom: 10px;
	}

.imagen_principal{
  display: flex;
  margin: 20px;
  width: 100%
}

.btn_involucrarse{
	background-color: $turq;
	border-radius: 5px;
	font-family: $fontSec;
	font-size: 1rem;
	margin-top: 20px;
	}