// Variables de Esquema de Colores

$petrol:#147989;
$medOrange:#rgba(235,183,71,1);
$softOrange:#f5BD47;
$turq:turquoise;
$lightYellow:#ffffe0;
$whiteT:#fff;
$softYellow:rgba(255, 249, 212, 1);
$brown:#bf874e;
$softGrey:#f6f6f6;
$softBordeau:#A64149;
$green:#02735E;
$bordeau:rgba(130,18,44,1);
$lightblue: lightblue;

//Tipos de Fuentes

$fontMain: 'Lato', sans-serif;
$fontSec: 'Merriweather', serif;

//fonts-sizes 1-xs 2-md 3-lg

//$h1-size: 3rem, 4rem, 5rem;
//$h2-size: 2rem, 2.5rem, 3rem;
//$nav_a-size: 2rem;

//imgs

//$up_down-size: 10%,100%,50%;
//$img_bgCat-sizeW:200px,300px,400px;
//$img_bgCat-sizeH:200px,300px,400px;
//$img_logo-size:20%;