// Variables de Esquema de Colores




$petrol:#147989;
//$bordeau:rgba(130,18,44,1);
$medOrange:#f6ac23;
$softOrange:#f5BD47;
$turq:turquoise;
$lightYellow:#ffffe0;
$whiteT:#fff;
$softYellow:rgba(255, 249, 212, 1);
//$bgHeader:linear-gradient(60deg,$medOrange,rgba(255, 249, 212, 1));
$brown:#bf874e;
$softGrey:#f6f6f6;

//.bg-bordeau{
//	background-color:$bordeau;
//}


//MAPS

$colores:(
	'uno': linear-gradient(60deg,$medOrange,rgba(255, 249, 212, 1)),
	'dos': rgba(130,18,44,1));

.bgHeader{
	background-color: map-get($map:$colores,$key:'uno');
}

.bg-bordeau{
	background-color: map-get($map:$colores,$key:'dos')
}